pandas
numpy
seaborn
scikit-learn
flask
pathlib
#-e .   #Using the -e .  in requirements.txt can be  helpful when you are working on multiple interconnected packages or when you want to test changes to your package without the need for repetitive installation steps during development.